@font-face {
    font-family: 'Roboto-Regular'; /*a name to be used later*/
    src: url('../fonts/Roboto-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Roboto-Bold'; /*a name to be used later*/
    src: url('../fonts/Roboto-Bold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Avant'; /*a name to be used later*/
    src: url('../fonts/AvantGardeBookBT.ttf'); /*URL to font*/
}
body{
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif !important;
}
html{
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif !important;
}
th{
    font-family:Roboto-Bold, Arial, Helvetica, sans-serif !important;
    color: #5b5c61;
}
a{
    color: #0020dd;
    font-weight: bold;
}
a:hover{
    color: #9a08ca;
}
b{
    color: #9a08ca !important;
}

.navbar-inverse {
    background-color:  #9a08ca !important;
}
.sidebar {
    background-color: #263238 !important;
    color:#fff !important;
}

.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
    background-color: #f4f4f4 !important;
    color: #000000 !important;
}
.navigation li a {
    /*color: #0a001f !important;*/
/* color: rgba(255, 255, 255, 0.75); */
}
@media (min-width: 769px)
{
    .sidebar-xs .sidebar-main .navigation > li > a > span {
        background-color: #9a08ca !important;
        color: #d2d2d2 !important;
    }
}

/***********BUSQUEDA******************/
.list-group-item.active:hover{
            background-color: #aed248; !important;
            border-color: #aed248;     !important;
          }
#item_to_add:hover{
	background-color: #0020dd;
	color: #fff;
	cursor: pointer; cursor: hand;
}
#search_results{
    z-index: 999999;
    position:absolute;
    background-color:  #ffffff;
}

/*********************CARDS************************/
.card{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    margin: 5px 10px;
    padding: 3px 3px 3px 15px;
    cursor: pointer;

}

.card:hover{
    cursor: pointer;
    background-color: #0020dd;
    color: #fef8f5;
}

.card h2{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;

}
.card p{
    padding-right: 5px;
    font-size: 12px;
    line-height: 1.38;
    text-align: center;
}
.card .footer{
    font-size: 14px;
    line-height: 1.73;
    text-align: left;
}
.card span{
    float:right;
    display:block;
}
.card img{
    margin: 0 auto;
    padding-top: 5px;
    height: 80px !important;
    text-align: center;

}

/*********TEXTO****************/
.text-semibold{
    text-transform: uppercase;
}
#ver:hover{
    cursor: pointer;
    background-color: #F5F5F5;

}
#ver{
    padding: 5px;
    color: #0020dd;
    text-transform: uppercase;
    font-weight: bold;

}
/*******MODAL***************/
.modal {

    z-index: 9999;

}
/**********ICONS****************/

.icon{
    width: 20px;
    margin-right: 20px;
}

.breadcrumb{
    font-family: Avant,verdana, helvetica, arial, sans-serif !important;
}